<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
    <a class="navbar-brand" href="/welcome">E-Sharp</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/welcome">Home<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="Lessons.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lessons</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Famous Riffs</a>
                    <a class="dropdown-item" href="#">Famous Solos</a>
                    <a class="dropdown-item" href="#">Songs</a>
                </div>
            </li>
        </ul>
    </div>
    {{#if user}}
    <!--                <li class="nav-item">-->
    <a href="/" class="btn btn-outline-secondary">Logout</a>
    <!--                </li>-->
    {{else}}
    <!--                <li class="nav-item">-->
    <a href="/" class="btn btn-outline-secondary">Sign In</a>
    <!--                </li>-->
    {{/if}}
</nav>
